matplotlib==3.9.1
numpy==1.26.4
opencv_contrib_python==4.10.0.84
opencv_python==4.9.0.80
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
paddleocr==2.8.0
paddleocr.egg==info
Pillow==10.4.0
PyBoof==0.43.1
Shapely==2.0.4
ultralytics==8.2.50
